.menu_link > svg {
  transition: transform 0.2s ease 0s;
}

details[open] > .menu_link > svg {
  transform: rotate(180deg);
}

.about_dropdown {
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, -24px, 0);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: block;
  pointer-events: none;
  will-change: opacity, transform;
}

details[open] .about_dropdown {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

.sub_dropdownItem {
  opacity: 0;
  transform: translateY(-24px);
  transition: opacity 0.2s cubic-bezier(0.5, 0, 0.1, 1) 0.1s,
    transform 0.2s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
  will-change: opacity, transform;
}

details[open] .sub_dropdownItem {
  opacity: 1;
  transform: translateY(0);
}
