.subsection2 {
  --spacing: 8px;
  padding-bottom: calc(var(--spacing) * 7);
  padding-inline: calc(var(--spacing) * 4);
}

.container2 {
  --w-md: 8;
  width: calc(var(--grid-ratio, 100% / 12) * var(--w-xs));
  max-width: calc(var(--grid-ratio, 100% / 12) * var(--w-xs));
}

@media (min-width: 768px) {
  .subsection2 {
    --spacing: 12px;
  }
  .container2 {
    --w-md: 8;
    width: calc(var(--grid-ratio, 100% / 12) * var(--w-md));
    max-width: calc(var(--grid-ratio, 100% / 12) * var(--w-md));
  }
}
@media (min-width: 1024px) {
  .subsection2 {
    --spacing: 16px;
  }
}
